<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link
      href="../static/stylepage.css"
      rel="stylesheet"
      media="all"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
  </head>

  <body>
    <nav class="navbar is-dark is-spaced" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
          <a class="navbar-item" href="/">
          <strong>TEAMJBZZ</strong>
          </a>  
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
              <div style="padding-left: 1vh;">
                  <input class="input is-dark" style="width: 50vh;" type="text" placeholder="Chercher un thread ou un utilisateur">
              </div>
                  <div style="padding-left: 1vh;">
                      <button class="button is-dark">Chercher</button>
                  </div>
              <a href="/poste">
              <button class="button is-dark">Poster un thread</button>
              </a>
          </div>
          <div class="navbar-end">
              <div class="navbar-item">
                  {{ if eq .User.Logged false }}
                  <div class="buttons">
                      <a class="button is-primary" href="/co">
                      <strong>Login or Sign up</strong>
                      </a>
                  </div>
                  {{ else }}
                  <div class="buttons">
                      <a class="button is-dark" href="/profil/{{ .User.UsUsername }}">
                      <strong>Profil</strong>
                      </a>
                  </div>
                  {{ end }}
              </div>
          </div>
      </div>
  </nav>
      <div class="container is-fluid">
        <div class="notification" style="background-color: white;">
          <div class="titre" style="padding-left: 20px;">Sujet : <strong>[{{ .Category }}]</strong> {{ .Title }}</div>
          <div style="padding-left: 20px;">Par <strong>{{ .PostUsername }}</strong> le {{ .Publication_d }}</div>
          <div class="box" style="border: solid 1px black; background-color: grey; color: white; padding: 3px;">
            <p>{{ .Content }}</p>
            <img class="image" style="width: 50%; height: 50%;" src="{{ .Image }}">
          </div>
        </div>
      </div>
      <div class="container is-fluid">
        <div class="notification" style="background-color: white;">
          <div class="titre" style="padding-left: 20px;">Commentaires du poste : </div>
      {{ range .Commentaires }}
      <div style="padding-left: 20px;">Par <strong>{{ .ComUsername }}</strong> le {{ .Publication_d }}</div>
      <div class="box" style="border: solid 1px black; background-color: rgb(215, 214, 214); color: black; padding: 3px; width: 40%;">
        <p>{{ .Comment }}</p>
      </div>
      <p>Like : {{ .Like }} Dislike : {{ .Dislike }}</p>
      <div class="flex">
      <form action="/likeC/{{ .Id }}" method="POST">
        <input name="id" type="hidden" value="{{ .Poste_id }}"/>
        <button type="submit" class="button">👍</button>
      </form>
      <form action="/dislikeC/{{ .Id }}" method="POST">
        <input name="id" type="hidden" value="{{ .Poste_id }}"/>
        <button type="submit" class="button">👎</button>
      </form>
      </div>
      <div>---------------</div>
      {{ end }}
    <form action="/comment" method="POST">
      <button type="submit" class="button">Donner votre avis 📝</button>
      <input name="id" type="hidden" value="{{ .Id }}" />
      <input name="PostUsername" type="hidden" value="{{ .PostUsername }}" />
    </form>
    <div style="padding-bottom: 10px;"></div>
    </div>
  </div>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

// Add a click event on each of them
$navbarBurgers.forEach( el => {
  el.addEventListener('click', () => {

    // Get the target from the "data-target" attribute
    const target = el.dataset.target;
    const $target = document.getElementById(target);

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    el.classList.toggle('is-active');
    $target.classList.toggle('is-active');

  });
});
}

});
</script>