<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>^w^</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="shortcut icon" href="/assets/favicon.ico">
</head>

<body>
    <nav class="navbar is-dark is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>TEAMJBZZ</strong>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div style="padding-left: 1vh;">
                    <input class="input is-dark" style="width: 50vh;" type="text"
                        placeholder="Chercher un thread ou un utilisateur">
                </div>
                <div style="padding-left: 1vh;">
                    <button class="button is-dark">Chercher</button>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    {{ if eq .Logged false }}
                    <div class="buttons">
                        <a class="button is-primary" href="/co">
                            <strong>Login or Sign up</strong>
                        </a>
                    </div>
                    {{ else }}
                    <div class="buttons">
                        <a class="button is-dark" href="profil/{{ .Username }}">
                            <strong>Profil</strong>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>
    <div style="padding-left: 3vh; padding-right: 3vh;">
        <div class="field">
            <form action="/saveposte" class="form" method="POST">
        </div>

        <div class="field">
            <label class="label" for="category-select"> Choisir une catégorie : </label>
            <div class="control">
                <div class="select">
                    <select class="select" name="category" id="category-select" required>
                        <option value="">--Catégories--</option>
                        {{ range .Categories }}
                            <option value="{{ .Id }}">{{ .Name }}</option>
                        {{ end }}
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Titre</label>
            <div class="control">
                <input type="text" placeholder="Saisisser un titre" name="title" class="input" maxlength="30" required
                    style="width: 40vh;" />
            </div>
        </div>
        <div class="field">
            <label class="label">Message</label>
            <div class="control">
                <textarea placeholder="Ecrire votre poste ici" name="content" required class="textarea"
                    style="position:relative; width: 95%; height: 250px; resize: none;"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label for="image">Ajouter une image au poste ? (Saisir son url)</label>
                <input type="url" id="image" name="image">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button">Envoyer</button>
            </div>
        </div>
        </form>
    </div>
</body>

</html>